#content-forest {
    height: 100%;
}

.forest-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.forest-do-buttons, .forest-build-buttons {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
}

.forest-data {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.item-container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.item-container[tooltip]::after {
    position: absolute;
    max-width: 100%;
    top: calc(50% + 10px);
}

#seller {
    flex-direction: column;
    grid-area: seller;
}

#seller .button {
    width: auto;
    max-width: auto;
    min-height: 50px;
}

#seller .button:active {
    border-color: var(--disabled-col);
    color: var(--disabled-col);
}