#content-skilltree {
    width: 100%;
    height: 100%;
    user-select: none;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 2em;
}

.skilltree-grid {
    /* width: 100%; */
    /* height: 100%;   */
    display: grid;
    grid-template-columns: repeat(7, 1.8em);
    grid-template-rows: repeat(9, 1.5em);
}

.skill-finished {
    opacity: 1.0;
    color: var(--green-col);
}

.skill-unlocked {
    opacity: 1.0;
    color: var(--main-col);
}

.skill-visible {
    opacity: 0.5;
}

.skill-hidden {
    opacity: 0;
}

.skill-item-container:hover {
    cursor: pointer;
}
