#minion-tab {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: auto;
    border: var(--border);
    border-top: none;
    border-left: none;
    border-radius: 5px 0 5px 0;
    box-shadow: var(--shadow);
    background-color: var(--background-col);
    z-index: 999;
}

.minion-container {
    display: grid;
    grid-template-rows: auto 0fr;
    width: fit-content;
    transition: all 0.5s;
    overflow: hidden;
}

.minion-container:has(> #minion-title:hover) {
    grid-template-rows: auto 1fr;
    /* gap: 20px; */
}

#minion-title:hover {
    opacity: 1;
    cursor: pointer;
    text-decoration: underline;
}

#minion-data {
    width: 100%;
    height: 0;
    overflow: hidden;
    margin: 0px 10px  0px 10px;
}

#minion-title:hover + #minion-data {
    margin: 20px 20px 10px 0px;
    height: 100%;
}

.minion-type-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}