.tabs {
    display: flex;
    justify-content: flex-start;
    z-index: 1;
}
#tab-filler {
    order: 1000;
    flex-grow: 1;
    flex-shrink: 2;
    border-bottom: var(--border);
}
.tab-item {
    user-select: none;
    width: 80px;
    padding: 5px;
    text-align: center;
    color: var(--disabled-col);
    border-radius: 10px 10px 0px 0;
    border: 1px solid var(--disabled-col);
    border-bottom: var(--border);
}
.tab-item:hover {
    color: var(--main-col);
    text-decoration: underline;
    cursor: pointer;
}
.tab-active {
    color: var(--main-col);
    border-color: var(--main-col);
    background-color: var(--background-col);
    border-bottom: none;
    transition: background-color 0.5s linear;
}
.tab-active:hover {
    text-decoration: none;
    cursor: default;
}
.tab-content {
    border: var(--border);
    box-shadow: 0px 5px 15px var(--tooltip-shadow-col);
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    /* background-color: var(--background-col); */
    padding: 60px;
}
.tab-content-item {
    height: 100%;
    width: 100%;
}